@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg: #f8fafc;
  --bg-soft: #eef6fb;

  --surface: #ffffff;
  --surface-hover: #e0f2fe;

  --text: #082f49;
  --text-muted: #475569;

  --primary: #0284c7;
  --primary-soft: #bae6fd;

  --border: rgba(8, 47, 73, 0.1);
  --shadow: rgba(8, 47, 73, 0.08);
}

.dark {
  --bg: #07111f;
  --bg-soft: #0c1b2e;
  --surface: #102a43;
  --surface-hover: #1b4965;

  --text: #e0f2fe;
  --text-muted: #7dd3fc;

  --primary: #38bdf8;
  --primary-soft: #bae6fd;

  --border: rgba(125, 211, 252, 0.15);
  --shadow: rgba(0, 0, 0, 0.5);
}

.dark2 {
  --bg: #091413;
  --bg-soft: #0f1f1b;
  --surface: #1b3d31;
  --surface-hover: #2d6a54;

  --text: #b0e4cc;
  --text-muted: #7bbfa3;

  --primary: #2ef2a0;
  --primary-soft: #1db954;

  --border: rgba(176, 228, 204, 0.12);
  --shadow: rgba(0, 0, 0, 0.5);
}

@theme inline {
  --font-inter: var(--font-inter);
  --font-sora: var(--font-sora);

  --color-bg: var(--bg);
  --color-bg-soft: var(--bg-soft);
  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);

  --color-text: var(--text);
  --color-text-muted: var(--text-muted);

  --color-primary: var(--primary);
  --color-primary-soft: var(--primary-soft);

  --color-border: var(--border);
  --color-shadow: var(--shadow);
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-inter), system-ui, sans-serif;
}

.glow-text {
  color: var(--text);
  text-shadow:
    0 0 35px #1db954,
    0 0 12px #1db954,
    0 0 32px #1db954;
  font-weight: 700;
  animation:
    pulse 2s infinite,
    rainbow 6s linear infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes rainbow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
